*, html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
    background-color: burlywood;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;  
}

.logo {
    margin-right: auto;
    display: flex;
    gap: 6px;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.logo-title {
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    transform: rotate(2deg);
    color: cadetblue;
}

.btn {
    font-size: 20px;
    border: none;
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: cadetblue;
    color: brown;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(146, 251, 255, 0.871);
    transition: all 1s ease 0s;
}

nav ul {
    display: flex;
    padding: 20px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li a {
    display: inline-block;
    transition: all .5s ease 0s;
}

li a:hover {
    transform: rotate(2deg);
    color: cadetblue;
}

a {
    color: brown;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 28px;
    font-weight: bolder;
}

.img {
    height: auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
}

.content {
    background-image: url('assets/foto/members.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    }

.next {
    background-color: burlywood;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.margin {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-item {
    width: 25%;
    min-height: 200px;
    max-height: 300px;
    background-color: #eaeaea;
    color: black;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 1.5);
    text-align: center;
}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    margin-top: 4px;
}

.icons {
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 4px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: burlywood;
    color: cadetblue;
}

.email {
text-decoration: underline;
    color: blue;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }
    .card-item {
        width: 100%;
        opacity: .9;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .img {
        padding: 0;
    }

    nav {
        z-index: 9;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: burlywood;
    }

    footer {
        margin-bottom: 70px;
        margin-top: 70px;
    }

}